/**
  * 300x250
  */
#creative {
  #polite {
    .content {
      .phase {
        h1 {
          margin: 42px 14px 0 14px;
          font-size: 20px;
          line-height: 24px;
        }
        h2 {
          margin: 1px 14px 0 14px;
          font-size: 14px;
        }
      }
      .cta-button {
        position: absolute;
        top: 476px;
        left: 15px;
        padding: 0 17px;
        height: 35px;
        .label {
          height: 35px;
          line-height: 36px;
          font-size: 20px;
        }
      }
      .legal {
        .text-1, .text-2 {
          margin: 10px 20px;
          font-size: 10px;
        }
      }
      .cover-container {
        $cover-top-height: 15;
        $cover-right-width: 15;
        .first {
          width: $stage-width + px;
          height: $cover-top-height + px;
        }
        .second {
          width: $cover-top-height + px;
          height: $stage-height - $cover-top-height + px;
          left: $stage-width - $cover-right-width + px;
          top: $cover-top-height + px;
          right: 0;
        }
        .third {
          width: $stage-width - $cover-right-width  + px;
          height: 60px;
          bottom: 0;
          right: $cover-right-width + px;
        }
      }
    }
    .logo-container {
      .logo {
        bottom: 13px;
        right: 14px;
        width: 131px;
        height: 18px;
      }
    }
  }
}


