/**
  * 728x90
  */
#creative {
  #polite {
    .content {
      .phase {
        h1 {
          margin: 12px 0 0 32px;
          font-size: 24px;
          line-height: 28px;
          letter-spacing: -0.2px;
          color: #fff;
        }
        h2 {
          margin: 3px 0 0 32px;
          font-size: 14px;
          color: #fff;
        }
      }
      .cta-button {
        position: absolute;
        right: 190px;
        top: 42px;
        padding: 0 11px;
        height: 25px;
        .label {
          height: 25px;
          line-height: 25px;
          font-size: 15px;
        }
      }
      .legal {
        .text-1, .text-2 {
          margin: 10px 20px;
          font-size: 10px;
        }
      }
      .cover-container {
        $cover-first-width: 16;
        $cover-second-height: 16;
        .first {
          width: $cover-first-width + px;
          height: $stage-height + px;
        }
        .second {
          width: $stage-width - $cover-first-width + px;
          height: $cover-second-height + px;
          left: $cover-first-width + px;
          bottom: 0;
        }
        .third {
          width: 182px;
          height: $stage-height + px;
          left: 546px;
          bottom: $cover-second-height + px;
        }
      }
    }
    .logo-container {
      .logo {
        bottom: 14px;
        right: 16px;
        width: 110px;
        height: 16px;
      }
    }
  }
}


