/**
  * 300x250
  */
#creative {
  #polite {
    .content {
      .phase {
        h1 {
          margin: 16px 220px 0 44px;
          font-size: 40px;
          line-height: 46px;
        }
        h2 {
          margin: 4px 220px 0 47px;
          font-size: 22px;
        }
      }
      .cta-button {
        position: absolute;
        bottom: 48px;
        left: 46px;
        padding: 0 19px;
        height: 35px;
        .label {
          height: 35px;
          line-height: 36px;
          font-size: 20px;
        }
      }
      .legal {
        .text-1, .text-2 {
          margin: 10px 20px;
          font-size: 10px;
        }
      }
      .cover-container {
        $cover-first-width: 24;
        $cover-second-height: 24;
        .first {
          width: $cover-first-width + px;
          height: $stage-height + px;
        }
        .second {
          width: $stage-width - $cover-first-width + px;
          height: $cover-second-height + px;
          left: $cover-first-width + px;
          bottom: 0;
        }
        .third {
          width: 264px;
          height: $stage-height + px;
          left: 706px;
          bottom: $cover-second-height + px;
        }
      }
    }
    .logo-container {
      .logo {
        bottom: 21px;
        right: 25px;
        width: 172px;
        height: 24px;
      }
    }
  }
}


