/**
  * 300x600
  */
#creative {
  #polite {
    .content {
      .phase {
        h1 {
          margin: 45px 20px 0 34px;
          font-size: 36px;
          line-height: 42px;
        }
        h2 {
          margin: 6px 20px 0 36px;
          font-size: 20px;
        }
      }
      .cta-button {
        margin-top: 14px;
        margin-left: 36px;
        padding: 0 19px;
        height: 35px;
        .label {
          height: 35px;
          line-height: 35px;
          font-size: 20px;
        }
      }
      .legal {
        .text-1, .text-2 {
          margin: 10px 20px;
          font-size: 10px;
        }
      }
      .cover-container {
        $cover-left-width: 18;
        $cover-right-width: 18;
        .first {
          width: $cover-left-width + px;
          height: $stage-height + px;
        }
        .second {
          width: $stage-width - $cover-left-width + px;
          height: 66px;
          left: $cover-left-width + px;
          bottom: 0;
        }
        .third {
          width: $cover-right-width + px;
          height: $stage-height - 66 + px;
          right: 0;
        }
      }
    }
    .logo-container {
      .logo {
        bottom: 16px;
        right: 18px;
        width: 131px;
        height: 18px;
      }
    }
  }
}


