#content-container {
  position: absolute;
  top: $content-y + px;
  left: $content-x + px;
  width: $content-width + px;
  height: $content-height + px;
  opacity: 0;
  .phase {
    position: absolute;
    width: $content-width + px;
    height: $content-height + px;
    .background {
      position: absolute;
      width: $content-width + px;
      height: $content-height + px;
      background-repeat: no-repeat;
    }
    h1 {
      margin: 10px 20px 0 20px;
      opacity: 0;
      display: block;
      position: relative;
      font-family: $hl-font;
      font-size: 28px;
      font-weight: 500;
      line-height: 32px;
      pointer-events: none;
      color: #000000;
    }
    h2 {
      margin: 2px 0 0 22px;
      opacity: 0;
      display: block;
      position: relative;
      font-family: $hl-font;
      font-size: 16px;
      font-weight: 500;
      pointer-events: none;
      color: #000000;
    }
  }
  .phase-1 {
    .background {
      background-image: url('../images/bg1.jpg');
    }
  }
  .cover-container {
    position: absolute;
    width: $stage-width + px;
    height: $stage-height + px;
    pointer-events: none;
    .cover {
      background-color: rgba(255, 255, 255, 0.75);
    }
    .first, .second, .third {
      position: absolute;
    }
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
}