body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: $stage-width + px;
  height: $stage-height + px;
  font-family: $hl-font;
}

// Preloading hover and inactive images
body:after {
  display: none;
  //content: url('../images/') url('../images/dragger-hover-2x.png');
}

#creative {
  #polite {
    position: absolute;
    width: $stage-width + px;
    height: $stage-height + px;
    cursor: hand;
  }
}



