$font-path: '../fonts/';
//$base-font: 'HyundaiSansHead-Light';
$hl-font: 'HyundaiSansHead-Medium';

@font-face {
  font-family: "HyundaiSansHead-Medium";
  src: url("../fonts/HyundaiSansHead-Medium.eot");
  src: url("../fonts/HyundaiSansHead-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/HyundaiSansHead-Medium.woff2") format("woff2"),
  url("../fonts/HyundaiSansHead-Medium.woff") format("woff"),
  url("../fonts/HyundaiSansHead-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}