/**
  * 300x250
  */
#creative {
  #polite {
    .content {
      .phase {
        h1 {
          margin: 14px 21px 0 21px;
        }
      }
      .cta-button {
        margin-top: 7px;
        margin-left: 22px;
      }
      .legal {
        .text-1, .text-2 {
          margin: 10px 20px;
          font-size: 10px;
        }
      }
      .cover-container {
        $cover-left-width: 11;
        $cover-bottom-height: 55;
        $cover-right-width: 11;
        .first {
          width: $cover-left-width + px;
          height: $stage-height + px;
        }
        .second {
          width: $stage-width - $cover-left-width + px;
          height: $cover-bottom-height + px;
          left: $cover-left-width + px;
          bottom: 0;
        }
        .third {
          width: $cover-right-width + px;
          height: $stage-height + px;
          right: 0;
          bottom: $cover-bottom-height + px;
        }
      }
    }
    .logo-container {
      .logo {
        bottom: 9px;
        right: 11px;
        width: 109px;
        height: 15px;
      }
    }
  }
}


