.button {
  position: relative;
  opacity: 0;
  visibility: hidden;
  font-family: $hl-font;
  font-weight: 500;
  height: 25px;
  padding: 0 15px;
  color: $color-secondary;
  background: #002c5f;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
  cursor: hand;
  p {
    height: 25px;
    line-height: 25px;
    display: inline-block;
    pointer-events: none;
  }
  .label {
    white-space: nowrap;
    overflow: hidden;
  }
  //&:hover {
  //  background: $color-tertiary;
  //}
}