.legal {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  width: $stage-width + px;
  height: $stage-height + px;
  pointer-events: none;
  .text-1, .text-2 {
    position: absolute;
  }
  .text-2 {
    opacity: 0;
  }
}