.logo-container {
  position: absolute;
  width: $content-width + px;
  height: $content-height + px;
  pointer-events: none;
  .logo {
    position: absolute;
    &.white {
      background: url('../images/hyundai-logo-white.png') no-repeat;
    }
    &.blue {
      opacity: 0;
      background: url('../images/hyundai-logo-blue.png') no-repeat;
    }
  }
  //cursor: pointer;
  //cursor: hand;
}